// 原作者@app2smile,@2ya;proto解析片段来源@薯条
// 仅供娱乐 不能用就算了吧
// 网易云歌词来源为公开nodejs服务,数据源自@薯条
// 缓存键沿用2ya，可以直接用2ya的boxjs设置
// spotify开发者无需配置，使用原请求token 灵感来源@薯条
// 优先查询网易云歌词，若中文没有逐自歌词则使用spotify数据
// 2ya原代码魔改，改的面目全非就不提PR了
// @2ya(https://github.com/dompling)


hostname = spclient.wg.spotify.com
https:\/\/spclient\.wg\.spotify\.com\/color-lyrics\/v2\/track\/ url script-response-body https://raw.githubusercontent.com/john-wx/script/main/john/Spotify-lyric.js
